/* Historic */
.Historic {
  overflow-y: scroll;
  height: 200px;
}
.Historic_Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid black;
  font-size: 18px;
}
.Historic_Card_EntryExit {
  width: 50px;
}
