body {
    background-color: rgb(244, 244, 244);
    overflow-x: scroll;
}

/* Estilo principal da página */
.Main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.Main_left {
    grid-column: 1;
    margin: 20px;
    border-right: 2px solid black;
    height: 100%;
}
.Main_right {
    grid-column: 2;
    margin: 20px;
}
@media (max-width: 900px) {
    .body {
        overflow-x: scroll;
    }
    .Main {
        display: block;
        overflow-y: scroll;
        height: 100vh;
    }
    .Main_left {
        margin: 20px;
        border-right: 0px solid black;
        height: 100%;
    }
    .Main_right {
        margin: 20px;
    }
}