/* Estilo principal da página */
.Main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(202, 202, 202);
}
.Main_left {
    grid-column: 1;
    margin: 20px;
}
.Main_right {
    grid-column: 2;
    margin: 20px;
}
/* Search Bar component */
.SearchBar {
    width: 100%;
}
.SearchBar_container {
    width: 100%;
}
.SearchBar_container_input {
    width: 90%;
    height: 25px;
    float: none;
    padding: 5px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    background-image: url('../assets/search.png');
    background-position: 10px;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 40px;
    outline: none;
}
.SearchBar_container_input:focus {
    border: 1px solid black;
    background-color: rgb(244, 243, 243);
}
/* Add component*/
.Add {
    width: 10%;
    height: 10%;
}
.Add_icon {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background-image: url("../assets/plus.png");
    background-size: cover;
}
.Add_icon:hover {
    cursor: pointer;
    background-color: rgb(172, 172, 172);
}

/* Header component */
.Header_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}