/* Estilo principal da página */
.Main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(202, 202, 202);
}
.Main_left {
    grid-column: 1;
    margin: 20px;
}
.Main_right {
    grid-column: 2;
    margin: 20px;
}
/* Search Bar component */
.SearchBar {
    width: 100%;
}
.SearchBar_container {
    width: 100%;
}
.SearchBar_container_input {
    width: 95%;
    height: 25px;
    float: none;
}

/* Add component*/
.Add {
    width: 40px;
    height: 40px;
}
.Add_Button {
    width: 30px;
    height: 30px;
}
.Add_icon:hover {
    cursor: pointer;
}

/* Header component */
.Header_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}